<div class="box">
  <%= link_to (image_tag asset.image(:medium)), asset %>
  <p class="name">
    <%= asset.name %>
  </p>
  <p>
    <strong>
      Posted by <%= link_to asset.user.name, asset.user %>
    </strong>
  </p>
  <% if current_user == asset.user %>
    <p>
      <%= link_to 'Edit', edit_asset_path(asset) %>
      <%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>