<tr>
  <td><%= image_tag asset.image(:medium) %></td>
  <td><%= asset.name %></td>
  <td><%= link_to 'Show', asset %></td>
  <%if current_user == asset.user %>
    <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
    <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>